<head>
  <style>
    .color-table {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      background: white;
      padding: 1vw;
    }
    .color-table .group {
      text-align: center;
      color: rgba(100,100,100, 1);
      font-size: 2.5vw;
      line-height: 3vw;
      font-family: sans-serif;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2vw;
    }
    .color-table span {
      width: 3.2vw;
      height: 3.2vw;
      padding: 0;
      display: block;
      vertical-align: middle;
    }
    .color-table span:hover {
      transform: scale(2);
      border-radius: 1.8vw;
      box-shadow: 0.3vw 0.3vw 1vw -0.1vw rgba(0,0,0,0.42);
    }
    .color-table span:first-child {
      margin-left: 1vw;
      width: 15vw;
      text-align: left;
    }
    .color-table span:first-child:hover {
      transform: scale(1);
      border-radius: initial;
      box-shadow: none;
    }
    {% for group, group_content in fields.elems %}
      {% for offset, item in group_content %}
        {{ '#' ~ item[0].color }} {
          background-color: {{ '#' ~ item[0].code }};
        }
      {% endfor %}
    {% endfor %}
  </style>
</head>
<body>
  <div class="color-table">
    {% for group, group_content in fields.elems %}
      <div class="group">
        <span>{{ group }}</span>
        {% for offset, item in group_content %}
          <span id="{{ item[0].color }}">&nbsp;</span>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</body>
